html {
	overflow-wrap: break-word;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	word-break: break-all;
	word-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

body {
	color: #fff;
	background-color: #000;
	font-family: 'Noto Mono Local', 'Noto CJK Local', 'Sarasa Mono Local', Monaco, Menlo, Consolas, sans-serif
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal
}

input, input[disabled], label, textarea, .btn, .btn:hover, .btn-group.open .btn.dropdown-toggle, .dropdown-menu, .dropdown-menu a, .info-open, .input-prepend .add-on, .input-append .add-on, .modal, .modal-footer, .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav>li>a:hover, .task.selected, .tasks-table>li:hover, #uri-more, #uri-more:hover {
	text-shadow: none;
	color: #fff;
	background-color: #333;
	background-image: none
}

input[disabled], .btn:hover {
	background-color: #666
}

.btn-primary, .btn-success {
	background-color: #6cf
}

.btn-primary:hover, .btn-success:hover {
	background-color: #39c5bb
}

.nav>li>a:hover {
	color: #08c
}

.tab-content {
	overflow: inherit
}

#ib-files>div.file-list>ul>li>span.ib-file-title {
	white-space: initial
}

#uri-more {
	font-size: 13px;
	color: #999
}

@font-face {
	font-family: 'Noto Mono Local';
	src: local('Noto Sans Mono'), local('Noto Sans Mono Regular')
}

@font-face {
	font-family: 'Noto CJK Local';
	src: local('Noto Sans CJK SC'), local('Source Han Sans SC'), local('Source Han Sans HW SC'), local('Noto Sans CJK TC'), local('Source Han Sans TC'), local('Source Han Sans HW TC'), local('Noto Sans CJK HK'), local('Source Han Sans HK'), local('Source Han Sans HW HK'), local('Noto Sans CJK JP'), local('Source Han Sans JP'), local('Source Han Sans HW JP'), local('Noto Sans CJK KR'), local('Source Han Sans KR'), local('Source Han Sans HW KR'), local('Noto Sans CJK'), local('Source Han Sans'), local('Source Han Sans HW')
}

@font-face {
	font-family: 'Sarasa Mono Local';
	src: local('Sarasa Mono T SC'), local('Sarasa Mono SC'), local('Sarasa Term SC'), local('Sarasa Mono T TC'), local('Sarasa Mono TC'), local('Sarasa Term TC'), local('Sarasa Mono T HC'), local('Sarasa Mono HC'), local('Sarasa Term HC'), local('Sarasa Mono T J'), local('Sarasa Mono J'), local('Sarasa Term J'), local('Sarasa Mono T K'), local('Sarasa Mono K'), local('Sarasa Term K'), local('Sarasa Mono T'), local('Sarasa Mono'), local('Sarasa Term')
}