html {
	font-feature-settings: "calt", "kern", "liga", "tnum", "zero";
	font-size: initial;
	font-size-adjust: initial;
	font-weight: 400;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	word-break: break-all;
	word-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #fff;
	background-color: #000;
	font-family: "Inter", "Noto CJK Local", "Sarasa Mono Local", Monaco, Menlo, Consolas, sans-serif;
}

code, input, kbd, label, li, pre, samp, textarea, #copyright, #global-info, #ib-peers {
	font-family: "Sarasa Mono Local", "Noto CJK Mono Local", "Noto Mono", Monaco, Menlo, Consolas, monospace;
}

div.left-area>div.task-name>span, h1, h2, h3, h4, h5, h6, strong, th {
	font-weight: normal;
}

input, input[disabled], label, textarea, .btn, .btn-group.open .btn.dropdown-toggle, .btn:hover, .dropdown-menu, .dropdown-menu a, .info-open, .input-append .add-on, .input-prepend .add-on, .modal, .modal-footer, .nav>li>a:hover, .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .task.selected, .tasks-table>li:hover, #uri-more, #uri-more:hover {
	text-shadow: none;
	color: #fff;
	background-color: #333;
	background-image: none;
}

input[disabled], .btn:hover {
	background-color: #666;
}

.btn-primary, .btn-success {
	background-color: #6cf;
}

.btn-primary:hover, .btn-success:hover {
	background-color: #39c5bb;
}

.nav>li>a:hover {
	color: #08c;
}

.tab-content {
	overflow: inherit;
}

#ib-files>div.file-list>ul>li {
	white-space: initial;
}

#uri-more {
	font-size: 13px;
	color: #999;
}

@media (min-width: 0px) {
	html {
		font-size: 100%;
		padding: 0 0.2rem;
	}
}

@media (min-width: 480px) {
	html {
		font-size: 105%;
		padding: 0 0.3rem;
	}
}

@media (min-width: 640px) {
	html {
		font-size: 105%;
		padding: 0 0.3rem;
	}
}

@media (min-width: 800px) {
	html {
		font-size: 110%;
		padding: 0 0.5rem;
	}
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 90%;
	}
}

@media (min-width: 1024px) {
	html {
		font-size: 110%;
		padding: 0 0.5rem;
	}
}

@media (min-width: 1280px) {
	html {
		font-size: 115%;
		padding: 0 0.7rem;
	}
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 85%;
	}
	#active-tasks .right-area {
		width: 300px;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 115%;
		padding: 0 0.7rem;
	}
}

@media (min-width: 1920px) {
	html {
		font-size: 120%;
		padding: 0 1.1rem;
	}
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 80%;
	}
	#active-tasks .right-area {
		width: 320px;
	}
}

@media (min-width: 2560px) {
	html {
		font-size: 120%;
		padding: 0 1.1rem;
	}
}

@media (min-width: 3840px) {
	html {
		font-size: 125%;
		padding: 0 1.3rem;
	}
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 75%;
	}
}

@font-face {
	font-family: "Noto CJK Local";
	font-display: swap;
	src: local("Noto Sans CJK SC"), local("Source Han Sans SC"), local("Noto Sans CJK TC"), local("Source Han Sans TC"), local("Noto Sans CJK HK"), local("Source Han Sans HK"), local("Noto Sans CJK JP"), local("Source Han Sans JP"), local("Noto Sans CJK KR"), local("Source Han Sans KR"), local("Noto Sans CJK"), local("Source Han Sans");
}

@font-face {
	font-family: "Noto CJK Mono Local";
	font-display: swap;
	src: local("Noto Sans Mono CJK SC"), local("Source Han Sans HW SC"), local("Noto Sans Mono CJK TC"), local("Source Han Sans HW TC"), local("Noto Sans Mono CJK HK"), local("Source Han Sans HW HK"), local("Noto Sans Mono CJK JP"), local("Source Han Sans HW JP"), local("Noto Sans Mono CJK KR"), local("Source Han Sans HW KR"), local("Noto Sans Mono CJK"), local("Source Han Sans HW");
}

@font-face {
	font-family: "Sarasa Mono Local";
	font-display: swap;
	src: local("Sarasa Mono SC"), local("Sarasa Mono Slab SC"), local("Sarasa Mono TC"), local("Sarasa Mono Slab TC"), local("Sarasa Mono HC"), local("Sarasa Mono Slab HC"), local("Sarasa Mono J"), local("Sarasa Mono Slab J"), local("Sarasa Mono K"), local("Sarasa Mono Slab K");
}

@font-face {
	font-family: "Inter";
	font-feature-settings: "calt", "cv03", "cv04", "cv07", "cv08", "cv11", "kern", "liga", "ss03", "tnum", "zero";
	font-display: swap;
	src: local("Inter Regular"), url("//src.heptazhou.com/7eeh60w53pz9c92shx1oiieyh/Inter/Inter-Regular.woff2") format("woff2"), url("//src.heptazhou.com/7eeh60w53pz9c92shx1oiieyh/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Mono";
	font-display: swap;
	src: local("Noto Sans Mono Regular"), url("//src.heptazhou.com/7eeh60w53pz9c92shx1oiieyh/Noto/NotoSansMono-Regular.ttf") format("truetype"), url("//src.heptazhou.com/7eeh60w53pz9c92shx1oiieyh/Noto/NotoSansMono-Regular.otf") format("opentype");
}