body {
	color: #ffffff;
	background-color: #000000;
	font-family: "Noto Mono Local", "Noto CJK Local", "Sarasa Mono Local", Monaco, Menlo, Consolas, sans-serif
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal
}

input, input[disabled], label, textarea, .btn, .btn:hover, .btn-group.open .btn.dropdown-toggle, .dropdown-menu, .dropdown-menu a, .info-open, .input-prepend .add-on, .input-append .add-on, .modal, .modal-footer, .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav>li>a:hover, .task.selected, .tasks-table>li:hover, #uri-more, #uri-more:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #333333;
	background-image: none
}

input[disabled], .btn:hover {
	background-color: #666666
}

.btn-primary, .btn-success {
	background-color: #66ccff
}

.btn-primary:hover, .btn-success:hover {
	background-color: #39c5bb
}

.nav>li>a:hover {
	color: #0088cc
}

.tab-content {
	overflow: inherit
}

#ib-files>div.file-list>ul>li>span.ib-file-title {
	line-height: inherit;
	white-space: inherit
}

#uri-more {
	font-size: 13px;
	color: #999999
}